.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scrollhide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

.from-accent {
  --tw-gradient-from: hsla(201, 96%, 32%);
  --tw-gradient-to: hsl(201 96% 32% / 0.3);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}
